/ogema.zip
/data/*
/config/ua_repo.dat
/security/users/ua_repo.dat
/ogema/users
/data/
/bin/*
/file.*
/appstore
/temp
/config/zwave_cache/OZW_Log.txt
!/bin/lib
!/bin/ext
!/bin/dependencies
!/bin/ace
!/.project
/backup/
/remote-bak/
/remote-bak/*
/replay-on-clean/
